.favorites {
  margin: 20px 0;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 0;
  }
}

.favorites_container {
  margin-top: 20px;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite_items {
  display: flex;
  flex-wrap: wrap;
}

.favorites_message {
  text-align: center;
  opacity: 0.7;
}

.favorites_bookmark {
  opacity: 0.5;
}
