.homepage {
  min-height: 100vh;
  height: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
    padding-top: 70px;
    align-items: center;
  }

  &__search-box {
    display: flex;
    width: 220px;

    input[type='text'] {
      width: 100%;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 5px;
    }
  }
}

.item_container {
  margin-top: 20px;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.item_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 18%;
  text-align: left;
  height: 300px;
  width: 200px;
  background: white;
  margin: 5px;
  padding: 10px;
  transition: ease-in-out 0.3s;
  justify-content: space-between;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.item_box_text-content {
  padding: 10px;

  label {
    font-weight: 500;
  }
}

.item_box_buttons {
  margin: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin: 0 10px;
  }

  button {
    background: #65b7d3;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    outline: none;
    width: 80px;

    &:hover {
      cursor: pointer;
      background: #3da9ce;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
