* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  background: #f4f3ef;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Yantramanav', sans-serif;
  height: 100%;
  font-size: 14px;
}

#app {
  height: 100%;
}

.container {
  min-height: 100vh;
}
